.my-button
{
    margin-left: 9vh;
    font-size: 15px;
    width: auto; 
    padding: 15px 10px;
    background-color: rgb(39, 41, 43);
    
}
.avatar
{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;  
    border: 2px solid #000;

}

.base-info {
     margin-top: 5vh;
    margin-left: 2vh;
    
    
    
}

.stephano-wrapper {
    flex-direction: column;
    display: flex;
    width: 100vh;
    gap: 1vh;
    min-height: 100vh;
    
}

.component-card
{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100vh;
    justify-content: flex-start;
    
}
.info-card
{
    display: flex;
    justify-content: flex-start;
    width: 100vh;
    flex-direction: row; 
    width: fit-content; 
    height: fit-content; 
    
}

