.stephano-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vh;
    min-height: 100vh;
    overflow: visible;
    padding: 0 !important;
}

.nav-bar {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    height: fit-content;
    font-family: monospace;
    font-size: 15px;
    background-color: #333;
}

.info-card {
    display: flex;
    margin: 1vw 1vh;
    justify-content: flex-start;
    flex-direction: row;
    width: 100vw;
    height: auto;
    font-family: monospace;
    font-size: 11.9;
}

.avatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    max-height: 100%;
    border: 2px solid #000;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.p-customize
{
    display: flex;
    margin-left: 1vw;
    justify-content: baseline;
    margin-top: 3vh;
}

.avatar:hover {
    transform: scale(1.15);
}

.component-card {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 1vh 1vw;
    height: fit-content;
    column-gap: 1.9vh;
    width: auto;
    justify-content: flex-start;
    padding: 1vh;
    
}

.button-stylized-text
{
    display: flex;
    font-family: monospace;
    font-size: 11.9px;  
}

.standard-button {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
    transition: ease 0.3s;
    width: fit-content;
    height: 5vh;
    max-height:100% ;
    overflow: hidden;
    padding: 10px;
    background-color: rgb(39, 41, 43);
}

.standard-button:hover {
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);

}


.standard-button-image {
    width: 30px;
    height: 30px;
    filter: brightness(50);
}

.discript-style {
    font-size: 11.9px;
    font-family: monospace;
    
}








